footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 14% 35px 14%;

    p {
        color: $primary-color;
        margin-bottom: 20px;
    }

    .social-media {
        width: 100%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            a {
                color: $primary-color;
            }
        }
    }
}